.app {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(222, 230, 235);
   */
  background-color: #dee6eb;
}

.app-header {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 205, 239);
}
